
/* #081e35 - DARK */
/* #081421 - Light */

html {
  background-color: #081421
}

body {
  margin: 0;
  font-family: "Courier new";
  font-weight: 300;
  color: #a6a61f;
}

table {
  width: 100%;
  background: #081e35;
  border: 0;
  table-layout: auto;
}

table thead {
  background: #081e35;
}

table tr th,
table tr td {
  padding: 0.5625rem 0.625rem;
  font-size: 0.875rem;
  color: #FFF;
  text-align: left;
  line-height: 1.125rem;
}

table thead tr th {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
}

table tr.even {
  background: #081e35;
}

.credits {
  color: black;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  background: white;
}

.creditstext {
  padding: 3px;
}

.indexhead {
  color: #d65562;
}


a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

.img-wrap {
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.img-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: contain;
}

.img-wrap + a {
  display: inline-block;
  vertical-align: middle;
}

.hidden {
  display: none;
}

#page-header {
  display: flex;
  align-items: center;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

#search {
  float: right;
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid whitesmoke;
  border-radius: 0.25rem;
  margin-left: 1rem;
  position: absolute;
  right: 0;
  margin-right: 30px;
  -webkit-appearance: textfield;
}

#search:focus {
  border-color: #3498db;
  outline: 0;
}

/* Hide extra columns so they don't squash file names */
@media (max-width: 600px) {
  .indexcollastmod, .indexcoldesc, .indexcolsize {
    display: none;
  }

  h1 {
    font-size: 1.5em;
  }

  #page-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1em
  }

  #search {
    margin-left: 0;
  }
}

.indexcolname {
  color: #d65562;
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.375em;
  }
}
